.cabecalho {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid var(--linhacabecalhoBaixo);
    height: 600px;
    background: url(../img/banner2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho__links {
    display: flex;
    flex-direction: row;
    color: var(--corLinkcabecalho);
    width: 1366px;
    height: 180px;
    justify-content: space-evenly;
}

a { color: inherit; text-decoration: none;} 

.cabecalho__logo {
    width: 150px;
    height: 95px;
    border-radius: 100%;
}

.cabecalho__letras {
    font-size: 25px;
    margin-top: 35px;
}