.meio {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* width: 1398px; */
    /* height: 500px; */
    background: linear-gradient(var(--corMeio), var(--corBranca));
    /* box-shadow: 0px 0px 10px var(--corVermelha), 3px 3px 10px var(--corVermelha); */
    /* background: url(../img/background2.jpg); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.botao__voltar--topo {
    color: var(--corBranca);
    position: fixed;
    width: 150px;
    height: 50px;
    right: 50px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    background: #04C4D9;
    box-shadow: inset 20px 20px 55px #037d8b,
            inset -20px -20px 55px #05ffff;
}

.frase__efeito {
    color: var(--corWhite);
    font-size: 80px;
    width: 1000px;
    /* margin-top: 225px; */
    margin-left: 225px;
    margin-top: -345px;
    opacity: calc(100%);
}

.meio__história {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--corWhite);
    text-align: center;
    margin-top: 200px;
    width: 700px;
    padding: 50px 50px 20px 50px;
    margin-bottom: 40px;
    margin-left: 285px;
    border-radius: 15px;
    border-radius: 50px;
    background: #F5D953;
    box-shadow: inset 30px -30px 60px #c4ae42,
            inset -30px 30px 60px #ffff64;
}

.meio__titulo {
    font-size: 35px;
    margin-bottom: 30px;
    margin-left: 33%;
}

.meio__texto {
    font-size: 30px;
    line-height: 1.5;
}

