.meio {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* width: 1398px; */
    /* height: 500px; */
    background: linear-gradient(var(--corMeio), var(--corBranca));
    /* box-shadow: 0px 0px 10px var(--corVermelha), 3px 3px 10px var(--corVermelha); */
    /* background: url(../img/background2.jpg); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.botao__voltar--topo {
    color: var(--corBranca);
    position: fixed;
    width: 150px;
    height: 50px;
    right: 50px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    background: #04C4D9;
    box-shadow: inset 20px 20px 55px #037d8b,
            inset -20px -20px 55px #05ffff;
}

.frase__efeito {
    color: var(--corWhite);
    font-size: 80px;
    width: 1000px;
    /* margin-top: 225px; */
    margin-left: 225px;
    margin-top: -345px;
    opacity: calc(100%);
}
/* 
.meio__imagens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.cards__imagens1 {
    width: 800px;
    margin-top: 50px;
    height: 600px;
    background: url(../img/card1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 10px var(--corVermelha), 3px 3px 10px var(--corVermelha); 
}

.cards__imagens2 {
    width: 800px;
    height: 600px;
    margin-top: 50px;
    background: url(../img/card2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 10px var(--corVermelha), 3px 3px 10px var(--corVermelha); 
}

.cards__imagens3 {
    width: 800px;
    height: 600px;
    margin-top: 50px;
    background: url(../img/card4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 10px var(--corVermelha), 3px 3px 10px var(--corVermelha); 
}

.cards__imagens4 {
    width: 800px;
    height: 400px;
    margin-top: 50px;
    background: url(../img/card3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 10px var(--corVermelha), 3px 3px 10px var(--corVermelha); 
}

.frase__efeito--corrida1 {
    color: var(--corWhite);
    font-size: 80px;
    width: 600px;
    margin-left: 100px;
    margin-top: 280px;
}

.frase__efeito--corrida2 {
    color: var( --corWhite);
    font-size: 80px;
    width: 600px;
    margin-left: 145px;
    margin-top: 230px;
}

.frase__efeito--corrida3 {
    color: var(--corWhite);
    font-size: 80px;
    width: 600px;
    margin-left: 145px;
    margin-top: 230px;
}

.frase__efeito--corrida4 {
    color: var(--corWhite);
    font-size: 70px;
    width: 1000px;
    margin-top: 80px;
} */


.meio__história {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: var(--corWhite);
    margin-top: 500px;
    width: 1100px;
    padding: 50px 50px 20px 50px;
    margin-bottom: 40px;
    margin-left: 80px;
    border-radius: 15px;
    border-radius: 50px;
    background: #F5D953;
    box-shadow: inset 30px -30px 60px #c4ae42,
            inset -30px 30px 60px #ffff64;
}

.meio__titulo {
    font-size: 35px;
    margin-left: 39%;
    margin-bottom: 30px;
}

.meio__texto {
    font-size: 30px;
    line-height: 1.5;
}

