:root {
    /* --corcabecalho: linear-gradient(45deg, white, white,  transparent); */
    --corcabecalho: #fff;
    --corLetrasBranco: #fff;
    --corBranca: #fff;
    --corVermelha: red;
    --corWhite: #F5D953;
    --corTomVermelho: #F24B4B;
    --corLinkcabecalho: black;
    --linhacabecalhoBaixo: #F21313;
}